:root {
	--rotate-deg: -15deg;
	--font-large: 2rem;
	--font-small: 0.75rem;

}

html{
	font-size: 20px;
}

.modal {
	position: absolute;
	width: 60%;
	height: 35%;
	color: rgb(40, 39, 37);
	border-radius: 5px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	z-index: -1000;
	visibility: hidden;
	display: flex;
	justify-content: flex-start;
	border: solid 3px black;
	flex-flow: column wrap;
	box-shadow: /* -2px -2px 0 #403f3f,
	2px -2px 0 #605e5e, */
	-3px 3px 0 #5552528e,
	3px 3px 0 #53525282;

}
 
.container4 {
	display: inline-flex;
	justify-content: flex-end;
 
/* 	border: solid 2px orange; */
}
 #finalscore{
	margin-bottom: -1em;
	text-shadow:
	-.2px -2px 0 #636161,
		.2px -2px 0 #575656,
		-.5px .5px 0 #5a5757,
		.2px .2px 0 #5857579a;
 }

 .final-score{
	color: #d3d004;
	letter-spacing: -2%;
	font-size: 1.5rem;
	text-shadow:
		-.2px -2px 0 #636161,
		.2px -2px 0 #575656,
		-.5px .5px 0 #5a5757,
		.2px .2px 0 #5857579a;
 }
.container3 {
/* 	border: solid 2px red; */
	display: flex;
	flex-direction: column;
	align-items: center;
}
.container3 h1 {
	margin-bottom:0.25em;
	margin-top:-0.25em;
	text-shadow:
	-.2px -2px 0 #636161,
	.2px -2px 0 #575656,
	-.5px .5px 0 #5a5757,
	.2px .2px 0 #5857579a;
}


.modal button {
	font-size: 1.0rem;
	border: 3px solid #1c1a1a;
	background-color: rgb(40, 39, 37);
	color: rgb(252, 254, 255);
	border-radius: 15%;
	padding: 0.25rem;
	transition: all 0.25s;
	letter-spacing: 1.3px;
	cursor: pointer;
	z-index: 101;
	text-shadow:
		-.3px -.3px 0 #121212,
		.3px -.3px 0 #0b0a0a,
		-.3px .3px 0 #0c0b0b,
		.3px .3px 0 #181717;
		
}


body {
	padding: 5px;
	background-color: rgb(40, 39, 37);
	color: rgba(255, 255, 255, 0.937);

}
.show-modal {
	z-index: 10;
	background-color: #905cf8d6;
	color: rgb(252, 254, 255);
	visibility: visible;

}
.main-container {

	display: grid;
	grid-template-columns: 1fr 1fr;
	/* 	grid-gap: 2rem; */
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;

}

.container {
	margin-left: 2rem;
	/* 	display: flex; */
	margin-left: 2rem;
	grid-column: 1 / 2;
}

.grid {
	/* 	flex: 1; */
	min-width: 610px;
	min-height: 610px;
	width: 610px;
	height: 610px;

	display: flex;
	flex-wrap: wrap;
	background-image: url("simpsons-family.jpg");
	background-size: cover;
	border: 3px solid #1c1a1a;
	border-radius: 1%;
	transition: all 0.3s;
	grid-column: 2 / span 3;
}


.interaction {
	font-size: 1.5rem;
	border: 3px solid #1c1a1a;
	background-color: #763bed;
	color: rgb(252, 254, 255);
	border-radius: 15px;
	padding: 0.5rem;
	transition: all 0.25s;
	letter-spacing: 1.3px;
	display: inline-flex;
	text-shadow:
		-.3px -.3px 0 #121212,
		.3px -.3px 0 #0b0a0a,
		-.3px .3px 0 #0c0b0b,
		.3px .3px 0 #181717;
}

select {
	background-color: #8851f8;
	color: #adacac;
	margin-left: 0.20rem;
	font-size: 1.0rem;
	border-radius: 10px;

}

.interaction:hover {
	transform: scale(1.1);
	background-color: #8952f8;


}

.interaction:active {
	transform: translateY(.25rem);
	transform: translateX(.25rem);
	border: 1px solid #1c1a1a;
	background-color: #6328d9;
	color: rgb(252, 254, 255);


}

.container2 {

	display: block;



}

.scenario1 {

	background-image: url("springfiled.jpg");
}

.scenario2 {

	background-image: url("inHouse.jpg");
}

.scenario3 {
	background-image: url("simpsos-characters.jpg");

}

.title {
	color: #d3d004;
	letter-spacing: -2%;
	font-size: 4.5rem;
	text-shadow:
		-2px -2px 0 #000,
		2px -2px 0 #000,
		-5px 5px 0 #000,
		2px 2px 0 #000;

}

.score {
	display: inline-flex;
	flex-wrap: wrap;
	align-items: left;
	justify-content: space-around;
}

.score h2 {
	display: inline-flex;
	align-items: left;
	justify-content: space-around;
}

.subtitle {
	color: #d3d004;
	letter-spacing: -2%;
	font-size: var(--font-large);
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;

}

#score,
#time-left {
	letter-spacing: -2%;
	font-size: var(--font-large);
	;

}

.square {
	height: 100px;
	width: 100px;
	opacity: 0.5;
	transition: opacity 0.5s;

}

.maggie {
	background-image: url("maggie.png");
	background-size: cover;
	transform: rotate(var(--rotate-deg));
	opacity: 1;
}

.maggie:active {
	background-image: linear-gradient(rgba(218, 91, 88, 0.5), rgba(245, 200, 93, 0.5)), url("maggie.png");
	transform: rotate(var(--rotate-deg));
	border-radius: 50%;

}

.bobo {
	background-image: url("bobo.png");
	background-size: cover;
	opacity: 1;
}

.girl {
	background-image: url("girl.png");
	background-size: cover;
	opacity: 1;
}

.bear {
	background-image: url("bear.png");
	background-size: cover;
	opacity: 1;
}

.monkey {
	background-image: url("monkey.png");
	background-size: cover;
	opacity: 1;
}




/*  @media (min-width:600px) {  
	.score{
		display: flex;
		align-items: left;
		justify-content: space-around;
	}
	.interaction{
		border-radius: 10%;
		padding: 0.25rem;
		font-size: 1.5rem;
	}	
	select{	 
	font-size: 1.5rem;

	}
	#score,#time-left{
		font-size: 1.5rem;	 
	}

	.title{
		color: #d3d004;
		letter-spacing: -2%;
		font-size: 2.5rem;
	}
  }
  */

@media (max-width:808px) {

	body {
		padding: 2px;
	}
	.title{
		margin: -.40rem 0;
	}

	.main-container {
		grid-gap: 0.5rem;
		grid-template-columns: 1fr 1fr;
		display: flex;
	}

	.container {
		grid-column: 1 / span 2;
		margin-left: 0.25rem;
		align-items: center;
		justify-content: center;
	}
	.container h3 {
		margin-bottom: .25rem;
		
	}.subtitle {
 
		font-size: var(--font-small);

	}


	.grid {
		grid-column: 1 / span 3;
	}

	.score {
		display: inline-flex;
		align-items: left;
		justify-content: space-around;
		margin-top: -0.5rem;
		margin-bottom: -0.5rem;
	}

	.interaction {
		font-size: var(--font-small);
		padding: 0.15rem 0.35rem;

	}

	select {
		font-size: var(--font-small);
	}

	#score,
	#time-left {
		font-size: var(--font-small);
		margin:0.5rem 1rem;
	/* 	padding; */
	}

	.title {
		color: #d3d004;
		letter-spacing: -2%;
		font-size: 2.5rem;
	}

	.modal{
		margin-top: 50vh;
	}
}